
*{
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
}

.all{
    text-align: center;
}

.imagenes {
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 15%;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.plastico img{
    height: 40em;
}

.plastico img:hover{
    border: solid 1px;
    border-color: aliceblue;
    border-radius: 20px;
}