
*{
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
}

.all{
    text-align: center;
}

.imagenes-Molde {
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 1%;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.molde img{
    height: 40em;
}

.molde img:hover{
    border: solid 1px;
    border-color: aliceblue;
    border-radius: 30px;
}

.tipo {
    color: white;
}