@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');


*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}



.cont {
    display: flex;
    height: 75vh;
    color: white;
    align-items: center;
    padding-top: 10%;
}

.info {
    flex: 1;
    align-items: center;
    padding-bottom: 15%;
    text-align: end;
    padding-left: 10%;
}

.info-2 {
    flex: 1;
    align-items: center;
    padding-bottom: 15%;
    text-align: start;
    padding-left: 10%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.img {
    flex: 1;
    text-align: center;
}

img {
    size: 25px;
    color:rgba(101, 13, 166, 0.8);
}

i {
    font-size: 30em;
    color:rgba(101, 13, 166, 0.8);
}

.img-2 {
    padding-left: 10%;
}

.img-2 i {
    font-size: 35em;
    color: rgba(51, 203, 241, 0.8);
}

.contener {
    color: white;
    text-align: center;
}

.hacemos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor {
    align-items: center;
    background-color: rgba(52, 59, 61, 0.8);
    margin: 0 10px;
    border-radius: 50px;
    padding-top: 5%;
    flex:1;
}

.contenedor .info {
    text-align: center;
    padding-left: 0;
}

.contenedor p {
    font-size: 20px;
}

.contenedor i {
 font-size: 15em;
 color: #abadca;
}